*{
    box-sizing: border-box;
    font-family: 'sans-serif';
}
input:focus,select:focus{
    border-bottom: 2px solid black;
}
.header_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding:1.5rem;
    }
    .nav_text{
        font-size: 1.1rem;
        font-family: 'roboto',sans-serif;
        font-weight: 600;
    }
    .fa-bars,.fa-cart-shopping{
        font-size: 1.3rem;
    }
    .top_heading{
        display: flex;
        justify-content: center;
        font-family:sans-serif;
        margin-bottom: 9%;
    }  
    input,select{
        border:none;
        border-bottom:1.5px solid #c4c0c0;
        outline:none;
        padding-bottom:2%;
        width:96%;
        background-color: transparent;
    }
    .top_content,.bottom_content{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .bottom_content{
        margin-bottom:35%;
    }
    .order_details{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    #state,#postal{
        width:48%;
        margin-top: 10%;
        padding-bottom:2%;
    }
    input[type="checkbox"] {
        width:75%;
        height:75%;
        margin-left:-35%;
    }
    .checkbox{
        margin-left: -34%;
    }
    #year,#year_number,#cvv{
        width:32%;
    } 
    .email_heading{
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    .main_container{
       margin: 1.6rem;
    } 
    .shipping_heading,.billing,.payment_text,.order
    {
        font-weight: 600;
        margin-bottom: 1.5rem;
        margin-top:8%;
        margin-bottom: 9%;
    }
    #phone,#city,#card{
        margin-top: 8%;
    }
    .country,.expiry{
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .billing_details{
        display:flex;
        flex-direction: row;
        gap:0;
    }
     #place_order_button{
        background-color:#172C50;
        width:100%;
        color:white;
        padding:1.2rem;
        font-size: 1.2rem;
        border:none;
        position:fixed;
        bottom:0;
        left:0;
        outline:none;
    }

@media (min-width:601px){
    input,select{
        border:none;
        outline: none;
        border-bottom: 1.5px solid #c4c0c0;
        width:100%;
        background: transparent;
        padding-bottom: 2%;
    }
    .header_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:1.3rem;
    }
    .fa-bars{
        display: none;
    }
    .nav_text{
        font-size: 1.2rem;
        font-family: 'roboto','sans-serif';
        font-weight: 500;
    }
    .fa-cart-shopping{
        font-size: 1.35rem;
    }
    .top_heading{
        display: flex;
        justify-content: center;
        font-family: 'sans-serif';
        margin-top: 3%;
        margin-bottom:1%;
        margin-left: -1%;
    }
    .body_content{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:8%;
        padding:5% 20%;
    }
    .first_content{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .second_content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: -10%;
    }
    .city_details{
        display: flex;
        flex-direction: row;
        gap:1%;
        justify-content: flex-start;
    }
   
    .expiry_details{
        display: flex;
        flex-direction: row;
        gap:1%;
    }
    .top_content,.bottom_content{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .order_details{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    .email_heading{
        font-weight: 600;
        margin-bottom:8%;
    }
    .shipping_heading,
    .billing,
    .payment_text,
    .order
    {
        font-weight: 600;
        margin-bottom: 1.5rem;
        margin-top:8%;
        margin-bottom: 8%;
    }
    .country,.expiry{
        margin-top: 8%;
        margin-bottom: 5%;
    }
    .billing_details{
        display:flex;
        flex-direction: row;
        gap:0;
    }
    #place_order_button{
        position:static;
        background-color: white;
        color:#212121;
        border:2px solid black;
        width:auto;
        padding: 2% 6%;
        font-weight: 500;
        font-size:0.8rem;
        outline:none;
        text-align: center;
        margin-top:-60%;
    }
    .bottom_content{
        margin-bottom:10%;
    }
    #phone,#city,#state,#postal,#card{
        margin-top: 8%;
    }
    input[type="checkbox"] {
        width:75%;
        height:75%;
        margin-left:-35%;
    }
    .checkbox{
        margin-left: -34%;
   }
}



